* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.item {
    width: 1440px;
    height: 500px;
    border: 2px solid black;
    border-radius: 5px;
}

.box {
    width: 1440px;
    height: 100px;
    background-origin: padding-box;
    border-color: azure ;
}
.team {
    width: 550px;
    height: 250px;
    background-color: red;
    margin: 0 auto;
}

.team1 {
    width: 550px;
    height: 250px;
    color: rgb(250, 240, 240);
    background-color: black;
    margin: 0 auto;
}
